.about {
    margin-top: -30vh;
    margin-bottom: -10rem;
    padding: 25rem 0 25rem 0;
    background-color: $color-brighten;
    background-size: cover;
    
    &__text {
        margin-left: 30%;
    }
    
    &__img {
        position: relative;

    }

    &__img > img {
        position: absolute;
        top: 0;
        left: 20%;
        width: 60%;
        border-radius: 30rem;
        box-shadow: 0 1.5rem 1.5rem rgba($color-black, 0.4)
    }

    &__skills {
        width: 70%;
        margin-top: 15rem;
        display: inline-block;
        font-size: 5rem;
        text-align: center;
        background-color: $color_dark;
        opacity: 0.5;
        box-shadow: 0 1.5rem 1.5rem rgba($color-black, 0.4);
        transition: all 1s;

        &:hover {
            width: 100%;
        }
    }

    &__skills > * {
        display: inline-block;
    }
}