.menu {
    position: absolute;
    border-radius: 100px;
    top: 70%;
    left: 70%;
    z-index: 999;
    transform: translate(0.15rem, 0.15rem);
    &__img {
        height: 8vh;      
        border-radius: 100px;
        background-color: $color-light;
        
        &:hover {
            // transform: scale(1.15);
            animation: rotateRightLeft 1s ease-out;
            box-shadow: -0.15rem -0.15rem 2rem $color-deep-dark;
        }   
    }

    @include mobile {
        top: 50%;
        left: 45%;
    }
}