@keyframes moveTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translate(-30%, 5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(30%);
    }
}

@keyframes rotateRightLeft {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(30deg);
    }
    60% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-80%);
    }
    100% {
        transform: translate(0);
    }
}